
html, body {
	font-family: 'Inter',  sans-serif !important;
  height: 100%;
 }

.landing-page-heading{
	font-size: 40px !important;
	color: #000;
}

p{
    font-size:15px;
    padding-right: 5px;
}

footer {
	padding-top: 50px;
  position : absolute;
	width: 100%;
}

a:link { 
	text-decoration: none;
}

a {
	-webkit-transition: 0.2s ease-in-out all;
	-moz-transition: 0.2s ease-in-out all;
	-o-transition: 0.2s ease-in-out all;
	transition: 0.2s ease-in-out all;
}

a i.bi{
	color: #949494;
}

.firsthalf{
	height: 400px;
}

.secondhalf{
	height: 120px;
}

/*** Buttons design ****/
a.mybutton{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 223px;
	height: 103px;
	font-size: 24px;
	font-weight: bold;
	background-color: #F7B722;
	color: #000;
	border-radius: 20px;
}

a.mybutton:hover, a.mybutton:active{
	background-color: #000;
	color: #F7B722;
}

a.mybutton-incr{
	font-family: 'Inter',  sans-serif !important;
	width: 82px;
	height: 74px;
	font-size: 48px;
	display: flex;
	justify-content: center;
	/*text-align: center;*/
	/*vertical-align: middle !middle;*/
	align-items: center !important;
	background-color: #FFF;
	color: #5F5F5F;
	border-radius: 20px !important;
	border: 1px solid #888;
	text-decoration: none;
	padding-bottom: 8px;
}

input#batch, input#phonenumber, input#email, input#visitor_name, input#rollnumber, input#designation{
	padding-left: 30px;
}


input#batch::placeholder, 
input#phonenumber::placeholder, 
input#email::placeholder, 
input#visitor_name::placeholder, 
input#rollnumber::placeholder, 
input#designation::placeholder,
input#designation::placeholder {
    font-style: italic;
		color: #514F4A !important;
  }

a.mybutton-incr:hover, a.mybutton-incr:focus, a.mybutton-incr:active{
	background-color: #888 !important;
	color: #FFF;
	text-decoration: none;
}

a.bt-type, a.bt-type-selected{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	font-weight: bold;
	font-size: 17px;
	background-color: #FFF;
	color: #666;
	border-radius: 10px !important;
	border: 1px solid #666;
	text-decoration: none;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

/*a.bt-type:hover, a.bt-type:focus, a.bt-type:active{
	background-color: #666 !important;
	color: #FFF;
}*/

a.bt-type-selected{
	background-color: #666 !important;
	color: #FFF;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.bt-alumnus{
	width: 159px;
	height: 77px;		
	font-size: 22px;
}

a.bt-student{
	width: 159px;
	height: 77px;
	font-size: 22px;
}
a.bt-faculty{
	width: 159px;
	height: 77px;
	font-size: 22px;
}
a.bt-staff{
	width: 159px;
	height: 77px;
	font-size: 22px;
}
a.bt-resident{
	width: 159px;
	height: 77px;
	font-size: 22px;
}
a.bt-other{
	width: 120px;
	height: 54px;
}

#other_category{
	width: 350px;
	height: 74px;
}

#visitor_name{
	height: 74px important;
}

#visitor_count{
	width: 150px;
	height: 74px;
	font-size: 24px;
	border-radius: 20px;
}

#branch, #hostel, #email, #phonenumber, #rollnumber, #relationship, #department{
	height: 77px;	
}

#sign_in_date, #sign_in_time{
	height: 74px;	
}

.datetimelabel{
	font-size: 24px;
	font-weight: 700;
}

button.my-nxt-button, button.my-nxt-button:hover, button.my-nxt-button:focus, button.my-nxt-button:active{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 177px;
	height: 51px;
	font-size: 24px;
	font-weight: bold;
	background-color: #000 !important;
	color: #F7B722 !important;
	border-radius: 10px;	
	border: none !important;
}

button.my-signout-button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 177px;
	height: 51px;
	font-size: 24px;
	font-weight: bold;
	background-color: #F7B722;
	color: #000;
	border-radius: 10px;	
	border: none;
}


img.h-image{
	margin-top: 100px;
	width: 200px;
}

span.coloured{
	font-weight: bold;
	color: #000;
}

input::placeholder {
    font-style: italic;
		color: #514F4A !important;
  }

input {
    font-style: normal; /* Ensures actual input text is not italic */
		box-shadow: 0 0 0 30px #F3F3F3 inset !important;
    -webkit-box-shadow: 0 0 0 30px #F3F3F3 inset !important;
  }

input.textbox-bg, input.textbox-bg:focus{
	background-color: #F3F3F3;
	height: 74px;
	border: 0px;
	border-radius: 20px !important;
	color: #000 !important;
}

.bg-label{
	background-color: #F3F3F3 !important;
}


  input:valid,
  input:-webkit-autofill,
  input:not(:placeholder-shown) {
    background-color: #F3F3F3 !important;
    -webkit-box-shadow: 0 0 0 30px #F3F3F3 inset !important;
  }


.custom-select select.select-branch-box-bg, .custom-select select.select-branch-box-bg option{
	appearance: none !important;
	-webkit-appearance: none !important;    /* For Safari/Chrome */
  -moz-appearance: none !important;       /* For Firefox */
	background-color: #F3F3F3;
	border: 0px;
	border-radius: 10px !important;
	color: #000 !important;
	cursor: pointer;
}

.custom-select select.select-branch-box-bg:focus{
	box-shadow: none;
}


input.textbox-outline, input.textbox-outline:focus{
	background-color: #FFF;
	height: 45px;
	border: 0.5px solid #000;
	border-radius: 10px !important;
	color: #333;
}

.input-group>input.txtbox-small {
	width: 49px;
	height: 44px;
	flex: 0 1 70px;
	border-radius: 10px !important;
	border: none !important;
}

.input-group>input.txtbox-small::placeholder {
  text-align: center;         /* ensure placeholder is also centered */
}

label.label-text-info{
	font-family: 'Inter';
	font-style: normal !important;
	font-size: 40px;
	color: #000;
}

label.label-text-info-small{
	font-family: 'Inter';
	font-size: 24px;
	color: #000;
}

span.big-icon i{
	color: #95F871;
	font-size: 105px;
}

option:disabled {
    font-style: italic !important;
  }

.emptyselect{
	color: #CCC !important;
	font-style: italic !important;
}

.card{
	width: 12rem !important;
	font-family: 'Inter';
	background-color: #F3F3F3;
	border: none;
	border-radius: 15px;
	padding: 20px;
}

.card-title{
	font-weight: bold;
	font-size: 24px;
}

.card-subtitle{
	margin-top: 16px;
	color: #B4B3B3;
}

.card-body{
	min-height: 140px;
}

a.card-select-link{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 125px;
	height: 40px;
	margin: 18px auto;
	background-color: red;
	color: #FFF;
	border-radius: 20px;
}

a.card-select-link:hover, a.card-select-link:focus, a.card-select-link:active{
	background-color: #FFF;
	color: red;
	border: 1px solid red;

}


.input-group .bi-pencil {
  font-size: 1.2rem; /* Adjust icon size */
  line-height: 1; /* Ensure icon stays aligned */
}

.exhibits-list{
	padding: 20px 0px 20px 0;
	background-color: #EEE !important;
	border-radius: 15px;
	margin-bottom: 20px;
}

 
.checkbox-wrapper {
			font-family: 'Inter';
      width: 90%;
      margin: 0 auto 0.5rem auto;
    }

    .checkbox-input {
      display: none;
    }

    .checkbox-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #EEE;
      color: #000;
      padding: 0.75rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      transition: all 0.3s ease;
    }

    .checkbox-text {
      flex: 1;
      text-align: left;
    }

    .checkbox-tick {
      width: 1.2rem;
      height: 1.2rem;
/*      border: 2px solid white;*/
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      color: black;
      background-color: transparent;
      transition: all 0.3s ease;
      margin-left: 1rem;
    }

    .checkbox-input:checked + .checkbox-label {
      background-color: #888;
      border-radius: 30px !important;
      color: black;
    }

    .checkbox-input:checked + .checkbox-label .checkbox-tick {
      background-color: white;
/*      border-color: black;*/
    }

    .checkbox-input:checked + .checkbox-label .checkbox-tick::before {
      content: "✔";
      color: black;
    }


    /**** New buttons ***/

a.bluebutton{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 261px;
	height: 121px;
	font-size: 24px;
	font-weight: bold;
	background-color: #FFF;
	color: #2196F3;
	border: 4px solid #2196F3;
	border-radius: 20px;
}

a.bluebutton:hover, a.bluebutton:active{
	background-color: #2196F3;
	color: #FFF;
}

a.redbutton{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 261px;
	height: 121px;
	font-size: 24px;
	font-weight: bold;
	background-color: #FFF;
	color: red;
	border: 4px solid red;
	border-radius: 20px;
}

a.redbutton:hover, a.redbutton:active{
	background-color: red;
	color: #FFF;
}


a.my-nxt-blue-button, a.my-nxt-red-button{
	margin-right: 20px !important;
}

button.my-nxt-blue-button, a.my-nxt-blue-button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 254px;
	height: 74px;
	font-size: 24px;
	font-weight: bold;
	background-color: #FFF !important;
	color: #2196F3 !important;
	border-radius: 10px;	
	border: 1px solid #2196F3 !important;
}

button.my-nxt-blue-button:focus, button.my-nxt-blue-button:hover,  button.my-nxt-blue-button:active{
	background-color: #2196F3 !important;
	color: #FFF !important;
}

a.my-nxt-blue-button:focus, a.my-nxt-blue-button:hover,  a.my-nxt-blue-button:active{
	background-color: #2196F3 !important;
	color: #FFF !important;
}

button.my-nxt-red-button, a.my-nxt-red-button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle !middle;
	width: 177px;
	height: 51px;
	font-size: 20px;
	font-weight: bold;
	background-color: #FFF !important;
	color: red !important;
	border-radius: 10px;	
	border: 1px solid red !important;
}

button.my-nxt-red-button:focus, button.my-nxt-red-button:hover,  button.my-nxt-red-button:active{
	background-color: red !important;
	color: #FFF !important;
}

a.my-nxt-red-button:focus, a.my-nxt-red-button:hover,  a.my-nxt-red-button:active{
	background-color: red !important;
	color: #FFF !important;
}

.prv-nxt-section{
	margin-top: ;
}

