nav.navbar{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-bottom: 0;
/*	background-image: url("../images/banner.jpg"); */
	background-size:cover;
	background-color: brown;
	border: none;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.custom-toggler.navbar-toggler { 
	border-color: #FFF; 
} 

.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}
        
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

li.nav-item a.nav-link, li.nav-item a.nav-link:focus, li.nav-item a.nav-link:hover{
	color: #FFF !important;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none !important;
}

.navbar-brand img{
	height: 3.8rem !important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
